@use '../../styles/mixins' as *;

.hero-wrapper {
  height: calc(100vh - 5rem);
  background: var(--bg);
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  @include media-md {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr auto 1fr;
    justify-content: center;
    align-items: center;
    text-align: left;
  }
}

.hero-text {
  display: flex;
  justify-content: center;
  text-align: left;
  flex-direction: column;
  margin: 0 auto 0 2rem;
  @include media-md {
    margin: 0 auto;
  }
}

.hero-wrapper div h1,
h2 {
  animation-name: animateHeaders;
  margin: 0;
}

.hero-wrapper div h1 {
  animation-duration: 1s;
  font-family: var(--font-flair);
  font-size: 3rem;
  @include media-md {
    font-size: 6rem;
    line-height: 5.5rem;
  }
}

.hero-wrapper div h2 {
  animation-duration: 2s;
  font-size: 1.5rem;
  @include media-md {
    font-size: 3rem;
    line-height: 3.5rem;
    margin-top: 1rem;
    margin-bottom: 0;
  }
}

.hero-wrapper div h3 {
  animation-name: animateHeaders;
  animation-duration: 3s;
  font-size: 1rem;
  span {
    font-family: var(--font-flair);
    font-weight: 500;
  }
  @include media-md {
    font-size: 2rem;
  }
}

.line-break {
  height: 0;
  background: var(--border);
  @include media-md {
    height: 75%;
    width: 1px;
  }
}

.images {
  overflow: hidden;
  margin: 0;
  width: 100%;
  position: relative;

  @include media-md {
    overflow: visible;
  }

  .hero-img {
    position: relative;
    width: 100vw;
    max-width: 390px;
    margin: auto auto;
    border: 10px solid var(--border);
    @include media-md {
      border-radius: 10%;
      animation-name: animateImageLeft;
    }
  }

  .main-img {
    z-index: 1;
    animation-duration: 3s;
    @include media-md {
      margin: 0 0 0 25px;
    }
  }

  .secondary {
    position: absolute;
    z-index: 0;
    top: 30px;
    left: 200px;
    animation-duration: 4s;
  }

  .third {
    z-index: 0;
    position: absolute;
    top: -150px;
    left: 140px;
    animation-duration: 5s;
  }
}

@keyframes animateHeaders {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes animateImageLeft {
  from {
    transform: translateX(500px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes animateImageBottom {
  from {
    transform: translateY(500px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
