@use '../../styles/mixins' as mx;

.hero {
  height: calc(100vh - 5rem);
  background: var(--bg);
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  @include mx.media-md {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr auto 1fr;
    justify-content: center;
    align-items: center;
    text-align: left;
  }
}

.hero__text {
  display: flex;
  justify-content: center;
  text-align: left;
  flex-direction: column;
  margin: 0 auto 0 2rem;

  h1,
  h2 {
    animation-name: heroAnimateHeaders;
    margin: 0;
  }

  h1 {
    animation-duration: 1s;
    font-family: var(--font-flair);
    font-size: 3rem;
    @include mx.media-md {
      font-size: 6rem;
      line-height: 5.5rem;
    }
  }

  h2 {
    animation-duration: 2s;
    font-size: 1.5rem;
    @include mx.media-md {
      font-size: 3rem;
      line-height: 3.5rem;
      margin-top: 1rem;
      margin-bottom: 0;
    }
  }

  h3 {
    animation-name: heroAnimateHeaders;
    animation-duration: 3s;
    font-size: 1rem;

    span {
      font-family: var(--font-flair);
      font-weight: 500;
    }

    @include mx.media-md {
      font-size: 2rem;
    }
  }

  @include mx.media-md {
    margin: 0 auto;
  }
}

.hero__line-break {
  height: 0;
  background: var(--border);
  @include mx.media-md {
    height: 75%;
    width: 1px;
  }
}

.hero__images {
  overflow: hidden;
  margin: 0;
  width: 100%;
  position: relative;

  @include mx.media-md {
    overflow: visible;
  }

  .hero__img {
    position: relative;
    width: 100%;
    max-width: 390px;
    margin: 0 auto;
    box-sizing: border-box;
    border: 10px solid var(--border);
    @include mx.media-md {
      border-radius: 10%;
    }
  }

  .hero__img--main {
    z-index: 1;
    animation: heroAnimateImageLeft 3s ease forwards;
    @include mx.media-md {
      margin: 0 0 0 25px;
    }
  }

  .hero__img--secondary {
    position: absolute;
    z-index: 0;
    top: 30px;
    left: 200px;
    animation: heroAnimateImageLeft 5s ease forwards;
  }

  .hero__img--third {
    z-index: 0;
    position: absolute;
    top: -150px;
    left: 140px;
    animation: heroAnimateImageLeft 4s ease forwards;
  }
}

@keyframes heroAnimateHeaders {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes heroAnimateImageLeft {
  from {
    transform: translateX(500px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes heroAnimateImageBottom {
  from {
    transform: translateY(500px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
