@use '../../styles/mixins' as *;
@use '../../index.scss';

.wrapper {
  height: 100vh;
  background: var(--bg);
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  @include media-md {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr auto 1fr;
    justify-content: center;
    align-items: center;
    text-align: left;
  }
}

.wrapper div {
  display: flex;
  justify-content: center;
  text-align: left;
  flex-direction: column;
  margin: 0 auto;
}

.wrapper div h1,
h2 {
  animation-name: animateHeaders;
  animation-timing-function: ease;
  margin: 0;
}

.wrapper div h1 {
  animation-duration: 1.5s;
  font-family: var(--font-flair);
  font-size: 3rem;
  @include media-md {
    font-size: 6rem;
    line-height: 5.5rem;
  }
}

.wrapper div h2 {
  animation-duration: 3s;
  font-size: 1.5rem;
  @include media-md {
    font-size: 3rem;
    line-height: 3.5rem;
    margin-top: 1rem;
    margin-bottom: 0;
  }
}

.line-break {
  height: 0;
  background: var(--border);
  @include media-md {
    height: 75%;
    width: 1px;
  }
}

.hero-img {
  animation-name: animateImageBottom;
  animation-timing-function: ease;
  animation-duration: 4s;
  width: 100vw;
  max-width: 390px;
  margin: auto auto;
  @include media-md {
    border-radius: 10%;
    animation-name: animateImageLeft;
    margin: 0 auto;
  }
}

@keyframes animateHeaders {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes animateImageLeft {
  from {
    transform: translateX(500px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes animateImageBottom {
  from {
    transform: translateY(500px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
