@use './functions' as fn;

$font-flair: 'Playball', cursive;
$font-main: 'Google Sans', sans-serif;

:root {
  --text: #2e5266;
  --bg: #f5e6d3;
  --border: #becad1;
  --accent: #e8846f;
  --primary: #8b4513;
  --bg-secondary: #ebd9bf;
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --font-flair: #{$font-flair};
  --font-main: #{$font-main};
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --text: #9ca3af;
//     --text-h: #f3f4f6;
//     --bg: #16171d;
//     --border: #2e303a;
//     --code-bg: #1f2028;
//     --accent: #{$accent-dark};
//     --accent-bg: #{fn.alpha($accent-dark, 0.15)};
//     --accent-border: #{fn.alpha($accent-dark, 0.5)};
//     --social-bg: rgba(47, 48, 58, 0.5);
//     --shadow:
//       rgba(0, 0, 0, 0.4) 0 10px 15px -3px,
//       rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
//   }
// }
