@use './functions' as fn;

$font-flair: 'Playball', cursive;
$font-main: 'Google Sans', sans-serif;

:root {
  --text: #2e5266;
  --bg: #f5e6d3;
  --border: #becad1;
  --accent: #e8846f;
  --primary: #8b4513;
  --bg-secondary: #ebd9bf;
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --font-flair: #{$font-flair};
  --font-main: #{$font-main};
}
