@use '../../../styles/mixins' as mx;

.line-break__horizontal {
  border: none;
  background: var(--border);
  height: 2px;
  width: 75%;
}

.line-break__vertical {
  border: none;
  background: var(--border);
  height: 2px;
  width: 75%;
  @include mx.media-md {
    width: 2px;
    height: 75%;
  }
}
