.career {
  width: 100%;
  background-color: var(--bg-secondary);

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-bottom: 3rem;
  }

  &__title {
    font-size: 2rem;
    margin: 4rem 0 2rem 0;
  }

  &__container-job {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 80%;
  }

  &__accordion-btn {
    width: 100%;
    background-color: var(--bg);
    color: var(--text);
    cursor: pointer;
    padding: 18px;
    text-align: left;
    border: none;
    border-radius: 10px;
    outline: none;
    display: flex;
    justify-content: space-between;
    transition: 0.2s;

    span {
      font-size: 1rem;
      font-weight: 600;
    }

    &[aria-expanded='true'] {
      border-radius: 10px 10px 0 0;

      div > svg {
        transform: rotate(180deg);
      }
    }

    div > svg {
      transition: 0.5s;
    }

    &:hover {
      background-color: var(--accent);
    }
  }

  &__accordion-panel {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    background-color: var(--bg);
    padding: 0 1rem;
    transition:
      max-height 0.2s ease-out,
      opacity 0.2s ease-out,
      padding 0.3s ease-out;

    &--active {
      max-height: 500px;
      opacity: 1;
      padding: 1rem;
      transition:
        max-height 0.2s ease-out,
        opacity 0.2s ease-out,
        padding 0.3s ease-out;

      &:last-child {
        border-radius: 0 0 10px 10px;
      }
    }
  }

  &__accordion-panel-title,
  &__accordion-panel-date,
  &__accordion-panel-description {
    text-align: left;
  }

  &__accordion-panel-title {
    margin: 0 0 0.5rem;
  }

  &__accordion-panel-date {
    display: block;
    margin-bottom: 1rem;
  }
}
