.nav-wrapper {
  display: grid;
  height: 5rem;
  grid-template-columns: 1fr auto 1fr;
  background: var(--bg);
  width: 100%;
  overflow: hidden;
}

.logo {
  // justify-self: start;
  height: 5rem;
  width: 5rem;
  fill: var(--text);
}

.nav-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-buttons button {
  color: var(--text);
  justify-self: center;
  font-size: 1.5em;
  width: 6rem;
  height: auto;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}
